.container-blank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 1rem;
}
.p-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    #ec4899 0%,
    #8b5cf6 100%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.imagen{
  height: 20rem;
  width: 30rem;
}
