.button {
  /* Agregar Tarea */

  width: 10rem;
  height: 32px;

  /* --normal-font */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  border: none;

  /* --linear-gradient */

  background: linear-gradient(
    90deg,
    #ec4899 0%,
    #8b5cf6 100%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}
@media (max-width: 600px) {
  .button {
    display: none;
  }
  .button-movil {
    background-color: #61dafa;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    transition: 0.3s ease;
    z-index: 3;
  }

  .button-movil:hover {
    transform: rotate(224deg);
  }
}
