.container-search {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.search {
  padding: 10px;
  background-color: rgba(31, 41, 55, 1);
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  /* line-height: 20px; */
  width: 21rem;
  margin-right: 0.5rem;
  color: rgba(129, 129, 129, 1);
}
.todoSearch:disabled {
  opacity: 25%;
}